


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Follow Us</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="fb-page" data-href="https://www.facebook.com/walkinshubindia/" data-tabs="timeline" data-width="250" data-height="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/walkinshubindia/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/walkinshubindia/">WalkinsHub.com</a></blockquote>
        </div>
      </div>
      <!--div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal"><i class="fa fa-close"></i></button>
      </div-->
    </div>
  </div>
</div>

<!--modal-->
<script>
  $(document).ready(function() {
    setTimeout(function(){ 
        $("#myModal").modal();
    }, 5000);
  });
</script>

</html>