<html>

<head>
    <meta charset="UTF-8">
    <title>Contact walkinshub
    </title>
    <meta name="description" content="contact Walkinshub.com" />
    <meta name="keywords" content="contact walkinshub, walkinshub"
    />
    <meta name="application-name" content="www.walkinshub.com - Best job search site for freshers/experienced" />
    <meta name="copyright" content="2016 www.walkinshub.com" />
    <meta name="content-language" content="EN" />
    <meta name="author" content="www.walkinshub.com" />
    <meta name="distribution" content="GLOBAL" />
    <meta name="robots" content="ALL" />
    <meta name="pragma" content="no-cache" />
    <meta name="revisit-after" content="1 day" />
    <meta name="classification" content=" Job, Referral Jobs, Work From Home, Jobs, Career, Freshers jobs, Bank Jobs, IT Jobs, Technical Jobs, Govt Jobs" />
    <meta http-equiv="content-type" content="text/html;charset=ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:app_id" content="1646263562333117" />
    <meta property="og:title" content="Interviews in your city." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.walkinshub.com" />
    <meta property="og:description" content="Just choose an interview. Your dream job is a click away." />
    <meta property="og:image" content="https://ia601503.us.archive.org/1/items/InterviewToday/Interview-today.jpg" />
    <meta property="og:image:type" content="jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="google-site-verification" content="dtN_8kSuZli5X3rJSr_lwToXx9CCr9KApWcOWCxcNCs" />
    <meta name="google-site-verification" content="dBwBXSsbGMxqwYBck9yEKz72TAuSugQEpVsQEdh1824" />
    <script async src="//connect.facebook.net/en_US/sdk.js"></script>

    <link rel="stylesheet" href="../styles.css">
    <script src="../jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-header">
              <a class="navbar-brand hvr-underline-from-center" href="/" title="Home"><i class="fa fa-home" aria-hidden="true"></i> Walkins Hub</a>
          </div>

            <div class="collapse navbar-collapse" id="navigationbar-collapse">
                <!--ul class="nav navbar-nav">
                    <li>
                        <a href="/tutorials" class="hvr-underline-from-center" title="About"><i class="fa fa-user" aria-hidden="true"></i> Tutorials</a>
                    </li>
                </ul-->
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/contact" class="hvr-underline-from-center" title="Contact"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container top-buffer">
        <!--script async type="text/javascript">
            var infolinks_pid = 2959628;
            var infolinks_wsid = 0;
        </script>
        <script async type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js"></script-->

        <div class="row">
          <h3>Recruiters, Please send job description to <b>walkinshubindia@gmail.com</b></h3>
        </div>
        <script async type="text/javascript">
            var infolinks_pid = 2959628;
            var infolinks_wsid = 0;
        </script>
        <script async type="text/javascript" src="//resources.infolinks.com/js/infolinks_main.js">
            < /script <
            /body>

            <
            /html>
