<!DOCTYPE html>
<html>
<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-5482095998977489",
            enable_page_level_ads: true
        });
    </script>
    <meta charset="UTF-8">
    <title>Contact walkinshub
    </title>
    <meta name="description" content="contact Walkinshub.com" />
    <meta name="keywords" content="contact walkinshub, walkinshub" />
    <meta name="application-name" content="www.walkinshub.com - Best job search site for freshers/experienced" />
    <meta name="copyright" content="2016 www.walkinshub.com" />
    <meta name="content-language" content="EN" />
    <meta name="author" content="www.walkinshub.com" />
    <meta name="distribution" content="GLOBAL" />
    <meta name="robots" content="ALL" />
    <meta name="pragma" content="no-cache" />
    <meta name="revisit-after" content="1 day" />
    <meta name="classification" content=" Job, Referral Jobs, Work From Home, Jobs, Career, Freshers jobs, Bank Jobs, IT Jobs, Technical Jobs, Govt Jobs" />
    <meta http-equiv="content-type" content="text/html;charset=ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:app_id" content="1646263562333117" />
    <meta property="og:title" content="Interviews in your city." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.walkinshub.com" />
    <meta property="og:description" content="Just choose an interview. Your dream job is a click away." />
    <meta property="og:image" content="https://ia601503.us.archive.org/1/items/InterviewToday/Interview-today.jpg" />
    <meta property="og:image:type" content="jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta name="google-site-verification" content="dtN_8kSuZli5X3rJSr_lwToXx9CCr9KApWcOWCxcNCs" />
    <meta name="google-site-verification" content="dBwBXSsbGMxqwYBck9yEKz72TAuSugQEpVsQEdh1824" />
    <script async src="//connect.facebook.net/en_US/sdk.js"></script>

    <link rel="stylesheet" href="../styles.css">
    <script src="../jquery/dist/jquery.min.js"></script>
    <script src="../bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../font-awesome/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <div class="navbar-header">
                <a class="navbar-brand hvr-underline-from-center" href="/" title="Home"><i class="fa fa-home" aria-hidden="true"></i> Walkins Hub</a>
            </div>

            <div class="collapse navbar-collapse" id="navigationbar-collapse">
                <!--ul class="nav navbar-nav">
                    <li>
                        <a href="/tutorials" class="hvr-underline-from-center" title="About"><i class="fa fa-user" aria-hidden="true"></i> Tutorials</a>
                    </li>
                </ul-->
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/contact" class="hvr-underline-from-center" title="Contact"><i class="fa fa-at" aria-hidden="true"></i> Contact</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/about" class="hvr-underline-from-center" title="About"><i class="fa fa-question-circle" aria-hidden="true"></i> About</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <% if (user == undefined ) { %>
                    <li class="dropdown" id="notLoggedIn">
                        <a href="#" class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i> Login/Signup <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="login-dp">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <a href="/auth/facebook" class="btn btn-primary btn-block"><i class="fa fa-facebook-official"></i> Sign In</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <% } else{ %>
                    <li class="dropdown" id="loggedIn">
                        <a href="#" class="dropdown-toggle hvr-underline-from-center" data-toggle="dropdown">
                            <img src="https://avatars.io/gravatar/<%= user.facebook.email %>/140" class="profile-image img-circle">
                            <strong id="username"><%= user.facebook.name %></strong>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-login">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <p class="text-center">
                                                <!--span class="glyphicon glyphicon-user icon-size"></span-->
                                                <img src="https://avatars.io/gravatar/<%= user.facebook.email %>/140" class="icon-size img-square">
                                            </p>
                                        </div>
                                        <div class="col-lg-6">
                                            <p class="text-left">
                                                <a href="/profile" title="Profile" class="btn btn-info btn-block btn-sm card-1">Profile</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li class="login-dp">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <a href="/logout" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Sign Out</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <% } %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="container top-buffer">
        <div class="row">
            <h3>Please send job details to <b>walkinshubindia@gmail.com.</b>  We will post them on www.walkinshub.com for you.</h3>
        </div>
    </div>
</body>

</html>
