<script src="jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="styles.css">
<script>
    function scrapeAll1() {
        $.ajax({
            url: '/api/scrapeTodayUrls',
            type: 'GET',
            success: function(data) {
                //console.log(data);
                var website = "todaywalkins";
                //var time = 500;
                data.forEach(function(url, i) {
                    setTimeout(function() {
                        $.ajax({
                            url: '/api/scrape/' + website + '/' + url,
                            type: 'GET',
                            success: function(walkin) {
                                //console.log(walkin);
                                var companyName = walkin.company.replace(/[^a-zA-Z0-9_-]/g, '-');
                                //var today = new Date();
                                //var todayDateString = today.yyyymmdd();
                                //  walkin._id=companyName+'';
                                $.ajax({
                                    url: "/api/postWalkin",
                                    type: "POST",
                                    data: JSON.stringify(walkin),
                                    contentType: "application/json",
                                    dataType: "json",
                                    success: function() {
                                        console.log("data uploaded");
                                    }
                                });
                                console.log("data uploaded !!!");
                            },
                            error: function(d) {
                                console.log('woops!'); //or whatever
                            }

                        });
                    }, (i + 1) * 50);
                })
            },
            error: function(data) {
                console.log('woops!'); //or whatever
            }
        });
    }

    function scrapeAll2() {
        $.ajax({
            url: '/api/scrapeTodayUrls2',
            type: 'GET',
            success: function(data) {
                //console.log(data);
                var website = "prepareinterview";
                //var time = 500;
                data.forEach(function(url, i) {
                    setTimeout(function() {
                        $.ajax({
                            url: '/api/scrape/' + website + '/' + url,
                            type: 'GET',
                            success: function(walkin) {
                                //console.log(walkin);
                                var companyName = walkin.company.replace(/[^a-zA-Z0-9_-]/g, '-');
                                //var today = new Date();
                                //var todayDateString = today.yyyymmdd();
                                //  walkin._id=companyName+'';
                                $.ajax({
                                    url: "/api/postWalkin",
                                    type: "POST",
                                    data: JSON.stringify(walkin),
                                    contentType: "application/json",
                                    dataType: "json",
                                    success: function() {
                                        console.log("data uploaded");
                                    }
                                });
                                console.log("data uploaded !!!");
                            },
                            error: function(d) {
                                console.log('woops!'); //or whatever
                            }

                        });
                    }, (i + 1) * 50);
                })
            },
            error: function(data) {
                console.log('woops!'); //or whatever
            }
        });
    }

    function notify() {
        $.ajax({
            url: '/api/notifyfbsubscribers',
            type: 'GET',
            success: function(walkin) {
                alert("Emails Triggered.");
            },
            error: function(d) {
                alert('woops!'); //or whatever
            }

        });
    }

    Date.prototype.yyyymmdd = function() {
        var mm = this.getMonth() + 1; // getMonth() is zero-based
        var dd = this.getDate();

        return [this.getFullYear(),
            (mm > 9 ? '' : '0') + mm,
            (dd > 9 ? '' : '0') + dd
        ].join('-');
    };



    $(function() {
        $('#upload').click(function(e) {
            e.preventDefault();
            var data = {};
            data.title = $("#title").val();
            data.date = new Date();
            data.position = $("#position").val();
            data.location = $("#location").val();
            data.company = $("#company").val();
            data.eligibility = $("#eligibility").val();
            data.experience = $("#experience").val();
            data.jobDescription = $("#jobDescription").val();
            data.salary = $("#salary").val();
            data.lastDate = $("#lastDate").val();
            data.walkinDate = $("#title").val();
            data.walkinDate = $("#title").val();
            data.walkinTime = $("#walkinTime").val();
            data.companyProfile = $("#companyProfile").val();
            data.howToApply = $("#howToApply").val();
            data.website = $("#website").val();
            data.contactDetails = $("#contactDetails").val();
            data.jobRequirements = $("#jobRequirements").val();
            data.candidateProfile = $("#candidateProfile").val();
            data.title = $("#title").val();

            console.log(data);
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: '/api/postWalkin',
                success: function(data) {
                    console.log('success');
                    console.log(JSON.stringify(data));
                }
            });
        });
    });
</script>
<div class="container top-buffer">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <button class="btn btn-lg btn-danger" onclick="scrapeAll1()">Scrape All 1 </button>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <button class="btn btn-lg btn-danger" onclick="scrapeAll2()">Scrape All 2 </button>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <button class="btn btn-lg btn-danger" onclick="notify()">Notify FB</button>
        </div>
    </div>

        <!-- We'll add our form controls here -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="title">Title</label>
                <input type="text" id="title" class="form-control" value="">
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="date">Date</label>
                <input type="text" id="date" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="position">Position</label>
                <input type="text" id="position" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="location">Location</label>
                <input type="text" id="location" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="company">Company</label>
                <input type="text" id="company" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="eligibility">Eligibility</label>
                <input type="text" id="eligibility" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="experience">Experience</label>
                <input type="text" id="experience" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="jobDescription">Job Description</label>
                <input type="text" id="jobDescription" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="salary">Salary</label>
                <input type="text" id="salary" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="lastDate">LastDate</label>
                <input type="text" id="lastDate" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="walkinDate">Walkin Date</label>
                <input type="text" id="walkinDate" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="walkinTime">Walkin Time</label>
                <input type="text" id="walkinTime" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="companyProfile">Company Profile</label>
                <input type="text" id="companyProfile" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="howToApply">How To Apply</label>
                <input type="text" id="howToApply" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="website">Company Website</label>
                <input type="text" id="website" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="contactDetails">Contact Details</label>
                <input type="text" id="contactDetails" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="jobRequirements">Job Requirements</label>
                <input type="text" id="jobRequirements" class="form-control">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label" for="candidateProfile">Candidate Profile</label>
                <input type="text" id="candidateProfile" class="form-control">
            </div>
        </div>

        <button type="button" class="btn btn-md btn-success" id="upload">Upload</button>
</div>
