<script src="jquery/dist/jquery.min.js"></script>
<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="styles.css">
<script>
    function scrapeAll() {
        $.ajax({
            url: '/api/scrapeTodayUrls',
            type: 'GET',
            success: function(data) {
                //console.log(data);
                var website = "todaywalkins";
                //var time = 500;
                data.forEach(function(url, i) {
                    setTimeout(function() {
                        $.ajax({
                            url: '/api/scrape/' + website + '/' + url,
                            type: 'GET',
                            success: function(walkin) {
                                //console.log(walkin);
                                var companyName = walkin.company.replace(/[^a-zA-Z0-9_-]/g,'-');
                                //var today = new Date();
                                //var todayDateString = today.yyyymmdd();
                              //  walkin._id=companyName+'';
                                $.ajax({
                                    url: "/api/postWalkin",
                                    type: "POST",
                                    data: JSON.stringify(walkin),
                                    contentType: "application/json",
                                    dataType: "json",
                                    success: function() {
                                        console.log("data uploaded");
                                    }
                                });
                                console.log("data uploaded !!!");
                            },
                            error: function(d) {
                                console.log('woops!'); //or whatever
                            }

                        });
                    }, (i + 1) * 50);
                })
            },
            error: function(data) {
                console.log('woops!'); //or whatever
            }
        });
    }

    function notify() {
        $.ajax({
            url: '/api/notifyfbsubscribers',
            type: 'GET',
            success: function(walkin) {
                alert("Emails Triggered.");
            },
            error: function(d) {
                alert('woops!'); //or whatever
            }

        });
    }

    Date.prototype.yyyymmdd = function() {
        var mm = this.getMonth() + 1; // getMonth() is zero-based
        var dd = this.getDate();

        return [this.getFullYear(),
            (mm > 9 ? '' : '0') + mm,
            (dd > 9 ? '' : '0') + dd
        ].join('-');
    };

</script>
<div class="container top-buffer">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-md btn-danger" onclick="scrapeAll()">Scrape All </button>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <button class="btn btn-md btn-danger" onclick="notify()">Notify</button>
        </div>
    </div>
</div>
