.main-container {
    margin-top: 80px;
}

.title {
    margin: 40px auto 25px;
}

.btn {
    margin: 4px auto;
    outline: none;
}

.home {
    margin-top: 110px;
}


.notFound {
    font-size: 7em;
}

.dataTable {
    display: table;
    margin-top: 20px;
    padding: 0px;
    width: 100%;
}

.tableRow {
    display: table-row;
}

.tableRow>span {
    list-style: none;
    display: table-cell;
    padding: 2px 6px;
}

.tableHeader {
    display: table-header-group;
    /*position: absolute;*/
}

.tableHeader span {
    background-color: #31708f;
    color: white;
    font-weight: bold;
}

.tableBody {
    display: table-row-group;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
  * html .ui-autocomplete {
    height: 100px;
  }

